h2 {
  font-family: "Times New Roman", Times, serif;
}

ol,
ul {
  padding-left: 50px;
}
.rounded_photo {
  float: right;
  border-radius: 50%;
  width: 50%;
  height: 50%;
}
#title {
  color: red;
  text-align: center;
}
.content {
  background-color: rgb(197, 221, 221);
  overflow-wrap: auto;
}
body {
  margin-left: 30%;
  margin-right: 30%;
}
