h2 {
  font-family: "Times New Roman", Times, serif;
}

ol,
ul {
  padding-left: 50px;
}

.rounded_photo {
  float: right;
  border-radius: 50%;
  width: 50%;
  height: 50%;
}

#title {
  color: red;
  text-align: center;
  margin-top: 30px;
}

.content {
  background-color: rgb(255, 255, 255);
  margin-left: 30%;
  margin-right: 30%;
  padding: 30px;
  border: 5px solid red;
  border-radius: 5%;
}

.menu {
  position: fixed;
  top: 20px;
  left: 10%;
  z-index: 1000;
}

.menu_1 {
  background-color: #fef9e7;
  border-radius: 10px;
  width: 80px;
}

.tit {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  background-color: #fff8dc;
  padding: 5px 10px;
  border-radius: 10px;
}
